<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="public/images/icon.png" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/master.css">
    <title>2Bee</title>
</head>
<body>

    <div class="container">
        <form method="POST" id="form">
            <img class="logo" src="public/images/icon.png"/>
            <input type="password" name="password" id="password" placeholder="Entrez votre mot de passe" required=true minlength="8">
            <br>
            <input type="password" name="passwordConfirm" id="passwordConfirm" placeholder="Confirmez votre mot de passe" required=true minlength="8">
            <br>
            <br>
            <input type="submit" value="Candidater">
            <br>
            <p class="success" id="success"></p>
            <p class="error" id="error"></p>
        </form>
    </div>
    
    <script>

        if(window.location.href.includes("?") < 1){
            history.back()
        }
        const args = {}
        for(const arg of window.location.href.split("?")[1].split("&")){
            args[arg.split("=")[0]] = arg.split("=")[1]
        }

        let form = document.getElementById('form');
        form.addEventListener('submit', e => {
            e.preventDefault();
            let password = form.password.value;
            let passwordConfirm = form.passwordConfirm.value;
            let error = document.getElementById('error');
            let success = document.getElementById('success');
            if(password.length < 8)  {
                console.log("Password < 8");
                error.innerText = "Le mot de passe doit être supérieur à 8 caractères.";
                error.style.display = "block";
                success.style.display = "none";
                return;
            }
            if(password == passwordConfirm) {
                success.innerText = "En attente d'une réponse du serveur."
                success.style.display = "block";
                error.style.display = "none";
                fetch("https://2bee.gq/Parameters/", {
                    method: "POST",
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify( {
                        "action": "changePassword",
                        "token": args.token,
                        "pwd": password
                    } )
                })
                .then( response => response.json() )
                .then( response => {
                    if(response.statut == "error"){
                        error.innerText = response.info
                        error.style.display = "block"
                        success.style.display = "none";
                    } 
                    else{
                        success.innerText = response.info
                        success.style.display = "block";
                        error.style.display = "none";
                        
                    }
                })
                .catch((error) => {
                    error.innerText = "Aucune réponse du serveur."
                    error.style.display = "block"
                    success.style.display = "none";
                })
                
                
                return;

            } 
            else {
                console.log("Passwords don't match.");
                error.innerText = "Les mots de passe ne coïncident pas.";
                error.style.display = "block";
                success.style.display = "none";
                return;
            }
        });
    </script>

</body>
</html>